@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}
html[dir="rtl"] body {
  direction: rtl;
  text-align: right;
  font-family: "Cairo", sans-serif;
}

html[dir="ltr"] body {
  direction: ltr;
  text-align: left;
  font-family: "Poppins", sans-serif;
}
